{% extends 'base.html.twig' %}
 {% block body %}
 <style>
.imgcenter{
   margin:auto;
   display:flex;
  width:1500px;

}

</style>
<div class="row">
              <div class="d-flex justify-content-center" >
                 <img class="imgcenter" src="{{ asset('img/dash.jpg')}}" width="600" alt="">
                </div>
              </div>
{% endblock %}  

 