{% extends 'base.html.twig' %}
 {% block body %} 
 
       <center> <h3> Ajouter une équipe</h3></center>
       <br>
        <!-- BASIC FORM ELELEMNTS -->
        <div class="row mt">
          <div class="col-lg-6 col-md-6 col-sm-6">
            {{ form_start(forms)}}
                      <div class="form-group">
                        {{ form_row(forms.nom, {label: 'Nom du équipe:'
                                                     }
                                                      )}}
                      
                      
                        {{ form_row(forms.niveau, {label: 'Niveau du équipe :'
                                                    }
                                                    )}}
                         
                      </div>
                    
                        <center>
                          <button type="submit" class="btn btn-theme">Enregistrer </button>
                          {{ form_end(forms) }} 
                        </center>
                                 
          </div>

        
        </div>
        <!-- /row -->
  {% endblock %}  
